@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

.container {
    background-color: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
    width: 100%;
    max-width: 550px;
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 20px;
    position: relative;
}

.container .advice-id {
    color: hsl(150, 100%, 66%);
    letter-spacing: 4px;
    font-weight: 500;
}

.container h1 {
    font-size: 28px;
    margin: 1.5rem 0 2rem;
}

.container h1 i {
    font-size: 11px;
    vertical-align: top;
    margin-top: 7px;
}

.divider {
    margin: 2rem 0;
    cursor: pointer;
}

.divider img {
    width: 100%;
}

.icon-dice {
    position: absolute;
    background-color: hsl(150, 100%, 66%);
    padding: 1.25rem;
    border-radius: 50%;
    line-height: 0;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
    cursor: pointer;
}

.icon-dice:hover {
    box-shadow: 0 0 30px hsl(150, 100%, 66%);
}